<template name="home">
	<!-- <section class="page-container page-home page-static content-background-color">
		{{> header sectionName=title}}
		<div class="content">
			{{{body}}}
		</div>
	</section> -->
</template>
