<template name="error">
	<section class="rc-old full-page color-tertiary-font-color">
		<div class="wrapper">
			<!-- <header>
				<a class="logo" href="/">
					<img src="images/logo/logo.svg?v=3" />
				</a>
			</header> -->
			<h1>{{_ "Not_found_or_not_allowed"}}</h1>
		</div>
	</section>
</template>
