<template name="logoLayout">
	<section class="rc-old full-page color-tertiary-font-color">
		<div class="wrapper">
			<!-- <header>
				<a class="logo" href="/">
					<img src="images/logo/logo.svg?v=3" />
				</a>
			</header> -->
			{{> Template.dynamic template=render}}
		</div>
	</section>
</template>
