<template name="mailerUnsubscribe">
	<section class="rc-old full-page color-tertiary-font-color">
		<div class="wrapper">
			<!-- <header>
				<a class="logo" href="/">
					<img src="images/logo/logo.svg?v=3" />
				</a>
			</header> -->
			<div class="cms-page content-background-color">
				{{_ "You_have_successfully_unsubscribed"}}
			</div>
		</div>
	</section>
</template>
