<template name="ForwardContent">
	<section class="create-channel">
		<div class="create-channel__wrapper"> 
			<form id="forward-message" class="create-channel__content"> 
				<div class="create-channel__inputs">					 
					{{> SearchCreateDiscussion
						onClickTag=onClickTagUser
						deleteLastItem=deleteLastItemUser
						list=selectedUsers
						onSelect=onSelectUser
						collection='UserAndRoom'
						endpoint='users.autocomplete'
						field='username'
						sort='username'
						label="Forward_to_user"
						placeholder="Username_Placeholder"
						name="users"
						icon="at"
						noMatchTemplate="userSearchEmpty"
						templateItem="popupList_item_default"
						modifier=userModifier
					}}					 
				</div>
			</form>
			<div class="rc-input">
				<button form="forward-message" class="rc-button rc-button--primary js-forward-message" >{{_ " Create "}}</button>
			</div>
		</div>
	</section>
</template> 